@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero-image {
  background-image: url("/img/destination-nigeria-hero-image.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.nigeria-everywhere-image {
  background-image: url("/img/nigeria-everywhere-image.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}

@media screen and (max-width: 1024px) {
  .nigeria-everywhere-image {
    background-image: url("/img/nigeria-everywhere-image.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
  }
}

@media screen and (max-width: 700px) {
  .nigeria-everywhere-image {
    background-image: url("/img/nigeria-everywhere-image.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
  }
}

.clipboard {
  opacity: 1;
}
