@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.hero-image {
  background-image: url("/img/destination-nigeria-hero-image.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.nigeria-everywhere-image {
  background-image: url("/img/nigeria-everywhere-image.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.destination-vision {
  background-image: url("/img/destination-vision.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.abuja-city-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.304)
    ),
    url("/img/creative-city.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.visual-arts-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.304)
    ),
    url("/img/visual-arts.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.stepper-items {
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
  color: white;
}

.word {
  clip-path: polygon(0 0, 100% 0, 100% 110%, 0% 110%);
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.fp-watermark {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    background: white;
  }
  to {
    opacity: 1;
    background: transparent;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes bouncing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

.bouncing {
  animation: bouncing 3s ease-in-out alternate-reverse infinite;
}

@keyframes sliding {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}

.sliding {
  animation: sliding 3s ease-in-out alternate-reverse infinite;
}

@keyframes sliding-alt {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}

.sliding-alt {
  animation: sliding-alt 3s ease-in-out alternate-reverse infinite;
  animation-delay: 1s;
}
